* {
  margin: 0;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 0 1rem;
}

.button {
  padding: 15px 32px; 
}

p {
  font-size: 25px;
}
h1 {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  font-size: 2.5em;
  vertical-align: middle; 
  text-align: center;
  padding: 10;
}

h2 {
  margin-top: -1rem;
  margin-bottom: 1.8rem;
  font-size: 2.5em;
  vertical-align: middle;
  position: relative;
  left: 118px;
  padding: 10;
}

.homepageAboutUs{
  font-family: "Raleway";
}


.homepageText{
  font-family: "Raleway";
  text-align: justify;
  text-align-last: center;
  font-size: 30px;
}

img {
  position: relative;
  bottom: -28px;
  left: 15px;
}

.top {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

input {
  border: none;
  outline: none;
  width: 90%;
  padding: 0.5rem;
  padding-left: 1.4rem;
  border-bottom: 1px solid #2774AE;
  font-family: "Raleway";
  font-size: 1em;
}

.add {
  background-color: #2774AE;
  color: #fff;
  padding: 0.8rem 1.6rem;
  border-radius: 2px;
  cursor: pointer;
}

.item {
  position: relative;
  margin-top: 1rem;
  background-color: #2774AE;
  color: #fff;
  padding: 1.3rem 3rem;
  border-radius: 5px;
  font-size: 1.1em;
  line-height: 1.4em;
}

.icons {
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  right: 25px;
  display: flex;
  gap: 0.5rem;
}

i {
  cursor: pointer;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border-bottom: 1px solid #2774AE;
}

li{
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1em;
}

li a:hover {
  background-color: #2774AE;
}